<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ImportPackagePath" value="C:\BI_Shared\BI_Scripts\SSIS\UniqAnalyticsDataload\Firebird Import.dtsx" />
    <add key="AnalyticsPackagePath" value="C:\BI_Shared\BI_Scripts\SSIS\UniqAnalyticsDataload\Analytics Load.dtsx" />
    <add key="LogFilePath" value="BI_Logs" />
    <add key="LogFileName" value="BI_SSIS_PackagesExecution.log" />
  </appSettings>
</configuration>