<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="BI_Logs" />
    <add key="LogFileName" value="GenerateNCompare.log" />
    <add key="BaselineResultsPath" value="BaselineResults"/>
    <add key="TestResultsPath" value="TestQueriesResults"/>
    <add key="QueriesFilePath" value="Queries.xml"/>
    <add key="FileComparisonToolPath" value="fc.exe"/>
    <add key="FileComparisonToolArguments" value=" "/>
  </appSettings>
  <connectionStrings>
    <add name="DataWarehouse" connectionString="Data Source=localhost;Initial Catalog=AvaleoAnalyticsDW;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>