USE [master]
GO
/****** Object:  Database [AvaleoAnalyticsVagtplan_DW]    Script Date: 11/05/2010 08:32:31 ******/
CREATE DATABASE [AvaleoAnalyticsVagtplan_DW] ON  PRIMARY 
( NAME = N'AvaleoAnalyticsVagtplanDW', FILENAME = N'C:\Programmer\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\AvaleoAnalyticsVagtplanDW.mdf' , SIZE = 13312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AvaleoAnalyticsVagtplanDW_log', FILENAME = N'C:\Programmer\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\AvaleoAnalyticsVagtplanDW_log.ldf' , SIZE = 8384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AvaleoAnalyticsVagtplan_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AvaleoAnalyticsVagtplan_DW]
GO
/****** Object:  Table [dbo].[Test_tbl]    Script Date: 11/05/2010 08:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_tbl](
	[navn] [nchar](10) NULL,
	[nummer] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactVagtplanFravaer]    Script Date: 11/05/2010 08:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactVagtplanFravaer](
	[PERSONNR] [nvarchar](max) NULL,
	[MEDID] [int] NOT NULL,
	[MEDARB_ORG] [int] NOT NULL,
	[DATO_FRA] [datetime] NULL,
	[DATO_TIL] [datetime] NULL,
	[PK_DATE] [datetime] NULL,
	[TJENESTETID_MINUTTER] [int] NULL,
	[TJENESTE_TYPE] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactVagtplanBTPFremmoede]    Script Date: 11/05/2010 08:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactVagtplanBTPFremmoede](
	[PERSONNR] [nvarchar](max) NULL,
	[MEDID] [int] NOT NULL,
	[MEDARB_ORG] [int] NOT NULL,
	[TJENESTETID_MINUTTER] [int] NULL,
	[PK_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimKMDFravaerstyper]    Script Date: 11/05/2010 08:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimKMDFravaerstyper](
	[TJENESTE_TYPE] [float] NULL,
	[TJENESTE_TYPE_NAVN] [nvarchar](max) NULL,
	[TJENESTE_TYPE_BESK] [nvarchar](max) NULL
) ON [PRIMARY]
GO
